h1, p {
  font-family: Lato;
}

.userLogin{
    height: -webkit-fill-available;
    background-color: antiquewhite;
}

li a{
  align-self: center;
  text-decoration: none;
  width: 300px;
  text-align: center;
  color: white;
}

.levelId{
  display:flex;
}

.margin{
  margin: 10px
}

.marginLevel{
  margin-left:20px;
}

.marginEan{
  margin-left:40px;
}

.marginTop{
  margin-top: 10px;
}

.marginUsername{
  margin-left:10px;
}

.marginPwd{
  margin-left:17px;
}
.searchBorder{
  border: 1px solid;
  margin: 0 auto;
}

.searchRadio{
  width: 300px;
}

.searchCheckbox{
  width: 150px;
}

.searchContainer{
  display: flex;
}
.mainDiv{
    top: 45%;
    left: 40%;
    position: absolute;
}

.alignItem{
  text-align: center;
}

.searchBtn{
  width :10px;
  margin: 0 auto;
}

.loginInvalid{
  text-align: center;
  color: red;
}